* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.body-about {
   background: #f3f3f3;
}

#header-div {
    background: white;
    height: 100px;
    padding-top: 20px;
    width:54%;
    margin: auto;
}

.container {
    width: 100%;
    background: white;
    margin: auto;
}

.name-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background: #4aaaa5;
    margin-top: 30px;
    padding-bottom: 19px;
    padding-top: 15px;
    font-size: 36px;
    width: 350px;
    color: white;
    float: left;
}
.biglink {
    width: 100%;
}
.biglink3 {
    width: 100%;
}
.biglink4 {
    width:100%;
}

#link-block {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: -30px;
    font-size: 19px;
    width: 250px;
    text-decoration: none;
    float: right;
    clear: both;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    
}

a:focus {
    text-decoration: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;      
}

a:hover {
    text-decoration: none;
    color: cyan ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

a:active {
    text-decoration: none;
    color: pink ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.main-div {
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 116px;
    background: white;
    border-color: gainsboro;
    border-style: solid;
    border-width: thin;
}
.contact-div {
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 116px;
    background: white;
    border-color: gainsboro;
    border-style: solid;
    border-width: thin;
}

.main-div-portfolio {
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 40px;
    width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background: white;
    border-color: gainsboro;
    border-style: solid;
    border-width: thin;
    overflow: hidden;
}

#div-index {
    margin-top: 90px;
    padding-bottom: 48px;
}

.hr-top {
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
}
.main-header {
    margin-bottom: 10px;
    font-size: 35px;
    color: #4aaaa5;
}

#inside-main {
    width: 100%;
    margin-bottom: 15px;

}
#profile {
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    float: left;
}

.paragraph {
    color: darkslategray ;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.thin-blue {
    border-style: solid;
    border-width: medium;
    border-color: cadetblue;
    width: 100%;
    bottom: 70px;
    position: fixed;
}
.footer-div {
    text-align: center;
    background: #666666;
    padding-top: 35px;
    padding-bottom: 22px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
input[type=text] {
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    font-size: 15px;
    border-bottom: 1.5px solid #4aaaa5;
    outline: none;
}

form {
    margin-top: 10px;
    font-size: 18px;
}

textarea {
    margin-top: 10px;
    width: 960px;
    height: 250px;
    resize: none;
    margin-bottom: 20px;    
    font-size: 20px;
    color: black;
}

input[type=submit] {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: center;
    width: 150px;
    background: #4aaaa5;
    color: white;
    border: none
}
.float {
    float: left;
}

.box-a {
    border: 1px solid black;
    width: 250px;
    height: 200px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

#box1 {
    background-image: url('../images/plant_gang.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    float: inherit;
}

#box2 {
    background-image: url('../images/warp_pipe.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    float: inherit;
}

#box3 {
    background-image: url('../images/plant_shaft.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    float: inherit;
}

#box4 {
    background-image: url('../images/plant_shaft.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    float: inherit;
}

#box5 {
    background-image: url("../images/plant_shaft.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    float: inherit;
}
.box-title {
    border: none;
    width: 85%;
    height: 30px;
    font-size: 20px;
    background:mediumseagreen;
    margin: auto;
    margin-top: 201px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(28, 73, 48)
}

@media screen and (max-width: 980px) {
    #header-div {
        width: 980px;
        position: absolute;
        top: -50px;
    }
    .name-header {
        margin-left: 50px;
    }
    .hr-top {
        width: 980px;
    }
    .container {
        width: 980px;
        position: sticky;
        height: 70px;
    }
    .biglink {
        margin-left: -40px;
    }
    #link-block {
        word-spacing: -1px;

    }
    .main-div {
        width: 60%;
        position: absolute;
        top: 20px;
        left: 50px;
    }
    .main-div-portfolio{
        position: absolute;
        left: 50px;
        width: 60%;
    }
    .contact-div {
        width: 60%;
        position: absolute;
        left: 50px;
    }
    textarea {
        width: 600px;
    }
    .biglink4 {
        margin-left: -40px;
    }
    .biglink3 {
        margin-left: -40px;
    }
}
@media screen and (max-width: 768px) {
    #header-div {
        width: 768px;
        position: absolute;
        top: -50px;
    }
    .name-header {
        margin-left: 50px;
        height: 36px;
        width: 250px;
        font-size: 1.9rem;
    }
    .hr-top {
        width: 768px;
    }
    .container {
        width: 768px;
        position: sticky;
        height: 70px;
    }
    .biglink {
        margin-left: -10px;
    }
    #link-block {
        word-spacing: -1px;
        font-size: 1rem;
    }
    .main-div {
        width: 600px;
        position: absolute;
        top: 20px;
        height: 380px;
        overflow: hidden;
    }
    .main-div-portfolio{
        position: absolute;
        left: 50px;
        width: 60%;
    }
    .contact-div {
        width: 60%;
        position: absolute;
        left: 50px;
    }
    textarea {
        width: 600px;
    }
    .biglink4 {
        margin-left: -40px;
    }
    .biglink3 {
        margin-left: -40px;
    }
}